.image-map-editor {
  box-sizing: border-box;
  --editor-border-radius: 7px;

  background-color: rgb(245, 249, 250);
  width: 433px;
  height: 792px;
  border-radius: var(--editor-border-radius);
  box-shadow: 0 3px 8px 3px rgba(0,0,0,.1),
              0 8px 6px 8px rgba(0,0,0,.07);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-map-editor__top-bar {
  display: flex;
  height: 56px;
  width: 100%;
  background-color:rgb(235, 239, 243);
  align-items: center;
  border-top-left-radius: var(--editor-border-radius);
  border-top-right-radius: var(--editor-border-radius);

  margin-bottom: 56px;
}

.image-map-editor__top-bar__grey-circle {
  border-radius: 24px;
  height: 24px;
  width: 24px;
  background-color: rgb(212, 218, 223);
  margin-left: 27px;
}