.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.App {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.image-block {
  min-height: 792px;
  width: 433px;
  box-shadow: 0px 5px 5px 5px #D3D3D3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.console-block {
  height: 703px;
  width: 548px;
  background-color: #2D3947;
  margin-left: 135px;
  border-radius: 5px;
  padding: 30px;
  color: #FFFFFF;
  overflow-y: scroll;
}

.image-header {
  background-color: #ECF0F3;
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image-body {
  height: calc(100% - 56px);
  padding: 39px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.image-header-circle {
  height: 24px;
  width: 24px;
  margin-left: 16px;
  background-color: #D5DADE;
  border-radius: 50%;
}

.image-edit-canvas {
  width: 100%;
  position: relative;
  cursor: crosshair;
}

.upload-image {
  width: 100%;
  margin-bottom: 30px;
}