.no{
    border: 1px solid black;
    height:auto;
    display: inline-block;
    margin-top: 39px;
    padding-top: 35px;
    background-repeat: no-repeat;

    

}

/* ========================== in  ImgContent ==========================

// const StyledUpload = styled(Upload)`
//     width:355px;
//     height:156px;
//     border-radius: 25px;
//     margin-top:39px;
//     display:flex;
//     justify-content: center;
//     align-items: center;

//     border: 1px solid gray;
// `

// const StyledPictureOutlined = styled(PictureOutlined)`
//     width: 50px;
//     height: 50px;
//     display: flex;

// ` */

/* ================================= in ImgContent, load Image, ================================ */
/* // const newLayer = layer
// const newStage = stage
// setLayer(newLayer.add(newImg))
// setState(newStage.))
// setLayer(layer.parentElement.add(newImg))

// var reader = URL.createObjectURL(file)
// newImg.src = file.originFileObj.webkitRelativePath+"/"+file.name
// console.log("in ImgContent loadImage, reader: ", reader) */