.App {
  height: 100vh;
  position: relative;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex.space-between{
  justify-content: space-between;
}

.flex.align-center{
  align-items: center;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.playground{
  width: 433px;
  height: 792px;
  position: relative;
  margin-right: 135px;
  background-color: #F3F3F3;
  border-radius:5px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

.playground .header{
  background-color: #E6E6EF;
  height: 56px;
}


.results{
  width: 548px;
  height: 703px;
  color: white;
  background-color: #202C38;
}

.circle{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 16px;
  border-radius: 12px;
  background-color: #CAD1D7;
}